@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap')
    
*
    font-family: 'Quicksand', sans-serif
    padding: 0
    margin: 0 
    
.container
    position: relative
    max-width: 1440px
    margin: 0 auto 


.header
    padding-top: 50px
    h1
        margin-left: 30px
    hr
        margin-top: 20px
    &-buttons
        position: absolute
        right: 0
        top: 10px
        margin-right: 30px
    &-cancelBtn
        border: 1px solid black
        a   
            padding: 0 2px 0 2px
            color: black
            text-decoration: none 
.main
    &-form
        display: block
        margin-top: 50px
        label
            display: block
            float: left
            width: 70px
            height: 15px
            margin-top: 20px
        input
            margin-top: 20px
    &-switcher
        margin-left: 10px
        display: block
        float: left
        width: 70px
        height: 15px
        margin-top: 35px
    &-dropdown
        margin-top: 30px
    &-dvdForm
        display: none
        position: relative
        width: 400px
        height: 250px
        border: 1px solid black
        margin-top: 50px
        padding: 20px 0 0 30px
        &-p
            position: absolute
            bottom: 10px
        &-active
            display: block
    &-furnitureForm
        display: none
        position: relative
        width: 400px
        height: 250px
        border: 1px solid black
        margin-top: 50px
        padding: 20px 0 0 30px
        label
            display: block
            float: left
            width: 100px
            height: 15px
            margin-top: 20px
        &-p
            position: absolute
            bottom: 0px
        &-active
            display: block
    &-bookForm
        display: none
        position: relative
        width: 400px
        height: 250px
        border: 1px solid black
        margin-top: 50px
        padding: 20px 0 0 30px
        &-p
            position: absolute
            bottom: 10px
        &-active
            display: block
    &-hr
        position: absolute
        bottom: -560px
        width: 100%
    &-h3
        position: absolute
        bottom: -586px
        left: 630px
        font-size: 15px
        text-align: center
    &-saveBtn
        position: absolute
        top: -129px
        right: 100px
        border: 1px solid black
        padding: 0 2px 0 2px